.page-header {
  width: 180px;
  height: 50px;
  display: flex;
  margin: 40px 380px 0 80px;
}

.logo__image {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.descrtption__header {
  width: 130px;
  height: 30px;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  margin: auto 0;
  color: #1968FC;
}

.navigation__header,
.button__header {
  display: none;
}

@media screen and (min-width: 1024px) {
  .page-header {
    margin: 30px 0 150px 0;
    width: 1120px;
    height: 50px;
  }

  .logo {
    display: flex;
    width: 180px;
    margin: 0;
  }

  .descrtption__header {
    width: 100px;
  }

  .navigation__header {
    display: block;
    margin-left: auto;
    width: 540px;
    margin-right: 20px;
  }

  .navigation__header_list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .navigation__header_list-item {
    width: 120px;
    height: 50px;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
  }
  .navigation__header_list-item:last-child {
    width: 180px;
  }

  .button__header {
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0px 10px 40px rgba(25, 104, 252, 0.2);
    background: #1968FC;
    box-shadow: 0px 10px 40px rgba(25, 104, 252, 0.3);
    width: 180px;
    height: 50px;
    border: none;
  }
}
@media screen and (min-width: 641px) {
  .page {
    width: 1024px;
    margin: auto;
    display: flex;
    flex-direction: column;
  }
}
.page {
  width: 100%;
  overflow-x: hidden;
  background: linear-gradient(180deg, rgba(25, 104, 252, 0.0001) 0%, rgba(25, 104, 252, 0.05) 23.07%, rgba(25, 104, 252, 0.0001) 99.94%, rgba(25, 104, 252, 0.05) 100%);
}
@media screen and (min-width: 1024px) {
  .page {
    background: none;
  }
}

body {
  font-family: "Mulish";
  font-style: normal;
  width: 640px;
  color: #11223f;
}
@media screen and (min-width: 1024px) {
  body {
    width: 1440px;
    margin-left: 160px;
    margin-right: 160px;
    background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson26/hw1/BackgroundDecor.png");
    background-repeat: no-repeat;
  }
}

.headline {
  position: relative;
}

.headline__title {
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  letter-spacing: 1px;
  width: 480px;
  height: 120px;
  margin: 20px auto;
}
@media screen and (min-width: 1024px) {
  .headline__title {
    width: 588px;
    height: 120px;
    margin: 0;
  }
}

.subheadline__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  align-items: center;
  margin: 20px 80px 40px 80px;
}
@media screen and (min-width: 1024px) {
  .subheadline__text {
    margin: 0;
    margin-top: 20px;
    width: 600px;
    height: 80px;
  }
}

.menu__button {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #1968FC;
  box-shadow: 0px 10px 40px rgba(25, 104, 252, 0.3);
  text-shadow: 0px 10px 40px rgba(25, 104, 252, 0.2);
  width: 300px;
  height: 50px;
  margin: 0 260px 80px 80px;
  border: none;
}
@media screen and (min-width: 1024px) {
  .menu__button {
    margin: 40px 0 160px 0;
  }
}

.illustration__mobile {
  width: 599px;
  height: 502px;
  margin: 0 auto;
  display: flex;
}
@media screen and (min-width: 1024px) {
  .illustration__mobile {
    position: absolute;
    top: 50px;
    left: 521px;
  }
}

.visit__siteblurb {
  font-weight: 700;
  font-size: 20px;
  line-height: 40px;
  display: flex;
  background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson26/hw1/PleaseVisitDesktopSiteSectionBackground.png");
  width: 640px;
  height: 180px;
  margin-top: -62px;
  margin: auto;
}
@media screen and (min-width: 1024px) {
  .visit__siteblurb {
    display: none;
  }
}

.visit__siteblurb_text {
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 520px;
  height: 120px;
  margin: 30px 60px 30px 60px;
}

.testim {
  display: block;
}
@media screen and (min-width: 1024px) {
  .testim {
    display: flex;
    width: 1120px;
    height: 280px;
    margin: 0 0 120px 0;
  }
}

.testiomon {
  background-color: #FFFFFF;
  width: 540px;
  height: 280px;
  margin: 50px auto;
}
@media screen and (min-width: 1024px) {
  .testiomon {
    margin: 0 40px 0 0;
  }
}

.testimonial {
  display: flex;
  position: relative;
}

.testimonial__photo {
  width: 100px;
  height: 100px;
  margin: 40px 20px 40px 40px;
}

.testimonial__text {
  margin: 60px 0;
}

.testimonial__name {
  width: 280px;
  height: 30px;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  display: flex;
  align-items: center;
}

.testimonial__job {
  font-weight: 600;
  font-size: 14px;
  line-height: 30px;
  display: flex;
  align-items: center;
  color: #1967FA;
  mix-blend-mode: normal;
  opacity: 0.8;
}

.illustration__quote {
  position: absolute;
  width: 60px;
  height: 46px;
  top: 40px;
  left: 440px;
}

.testimon_2 {
  background-color: #FFFFFF;
  width: 540px;
  height: 280px;
  margin: 50px auto;
}
@media screen and (min-width: 1024px) {
  .testimon_2 {
    margin: 0;
  }
}

.testimonial_2 {
  display: flex;
  position: relative;
}

.illustration__quote-2 {
  margin-top: 40px;
  width: 60px;
  height: 46px;
}

.testimonial__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  margin: 0 40px 40px 40px;
}

.work {
  width: 525px;
  margin: 70px 55px 90px 60px;
}
@media screen and (min-width: 1024px) {
  .work {
    width: 1165px;
    margin: 0 120px 0 0;
  }
}

.work__block {
  display: block;
}
@media screen and (min-width: 1024px) {
  .work__block {
    display: flex;
    width: 1165px;
  }
}

.work__title {
  margin: 0;
  font-weight: 400;
  font-size: 30px;
  line-height: 60px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}
@media screen and (min-width: 1024px) {
  .work__title {
    margin: 0 0 0 40px;
  }
}

.work__line {
  width: 80px;
  height: 2px;
  margin: 10px 500px 48px 0;
  background: #1968FC;
  box-shadow: 0px 2px 0px #D1E1FE;
}

.step__1 {
  width: 525px;
  height: 185px;
  background: #FFFFFF;
  box-shadow: 0px 20px 60px rgba(49, 69, 244, 0.1);
}
@media screen and (min-width: 1024px) {
  .step__1 {
    width: 320px;
    height: 220px;
    margin: 38px 5px 0 40px;
  }
  .step__1:last-child {
    margin: 118px 5px 5px 5px;
  }
}

.step__1_1 {
  width: 525px;
  height: 185px;
  background: #FFFFFF;
  box-shadow: 0px 20px 60px rgba(49, 69, 244, 0.1);
}
@media screen and (min-width: 1024px) {
  .step__1_1 {
    width: 320px;
    height: 220px;
    margin: 78px 5px 0 5px;
  }
}

.step__subtitle {
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  width: 400px;
  height: 20px;
  margin: 0;
}
@media screen and (min-width: 1024px) {
  .step__subtitle {
    margin: 0;
    width: 200px;
  }
}

.step__title {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #1967FA;
}
@media screen and (min-width: 1024px) {
  .step__title {
    margin: 0;
    width: 200px;
  }
}

.step {
  display: flex;
}

.icon__work {
  width: 40px;
  height: 36px;
  margin-top: 40px;
}
@media screen and (min-width: 1024px) {
  .icon__work {
    margin-top: 42px;
  }
}

.step__text {
  width: 400px;
  height: 60px;
  margin: 40px 0 10px 40px;
}
@media screen and (min-width: 1024px) {
  .step__text {
    width: 200px;
    height: 60px;
    margin: 40px 0 0 40px;
  }
}

.work__vertical_line {
  border-left: 2px dashed #1968FC;
  width: 40px;
  height: 40px;
  margin-left: 59px;
}
@media screen and (min-width: 1024px) {
  .work__vertical_line {
    border-top: 2px dashed #1968FC;
    width: 70px;
    height: 1px;
    margin: 148px 0 0 0;
  }
}

.work__vertical_line-2 {
  border-left: 2px dashed #1968FC;
  width: 40px;
  height: 40px;
  margin-left: 59px;
}
@media screen and (min-width: 1024px) {
  .work__vertical_line-2 {
    border-top: 2px dashed #1968FC;
    width: 70px;
    height: 1px;
    margin: 187px 0 0 0;
  }
}

.step__description {
  width: 440px;
  height: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  margin: 0 40px 20px 40px;
}
@media screen and (min-width: 1024px) {
  .step__description {
    margin: 20px 40px 20px 40px;
    width: 240px;
    height: 60px;
  }
}

.icon__work_2 {
  width: 25px;
  height: 25px;
  margin-left: 500px;
}
@media screen and (min-width: 1024px) {
  .icon__work_2 {
    margin-left: 300px;
  }
}

.features {
  width: 525px;
  margin: 0 55px 120px 0;
}
@media screen and (min-width: 1024px) {
  .features {
    width: 1165px;
    margin: 115px 0 0 0;
  }
}

.features__line {
  width: 80px;
  height: 2px;
  background: #1968FC;
  box-shadow: 0px 2px 0px #D1E1FE;
  margin: 10px 0 48px 0;
}
@media screen and (min-width: 1024px) {
  .features__line {
    margin: 0 0 48px 0;
  }
}

.features__title {
  font-weight: 400;
  font-size: 30px;
  line-height: 60px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  margin: 120px 0 0 0;
}
@media screen and (min-width: 1024px) {
  .features__title {
    margin: 0 0 10px 40px;
  }
}

.card__mobile {
  display: flex;
  width: 520px;
  height: 80px;
}

.card__mobile_photo {
  width: 80px;
  height: 80px;
}
@media screen and (min-width: 1024px) {
  .card__mobile_photo {
    width: 120px;
    height: 120px;
  }
}

.card__block {
  display: block;
}
@media screen and (min-width: 1024px) {
  .card__block {
    display: flex;
  }
}

.feature__card_mobile {
  width: 525px;
  height: 205px;
  margin-bottom: 55px;
}
@media screen and (min-width: 1024px) {
  .feature__card_mobile {
    width: 320px;
    height: 290px;
    margin: 48px 74px 0 40px;
  }
}

.feature__card_mobile-2 {
  width: 525px;
  height: 205px;
  margin-bottom: 55px;
}
@media screen and (min-width: 1024px) {
  .feature__card_mobile-2 {
    width: 320px;
    height: 290px;
    margin: 88px 86px 0 0;
  }
}

.feature__card_mobile-3 {
  width: 525px;
  height: 205px;
  margin-bottom: 55px;
}
@media screen and (min-width: 1024px) {
  .feature__card_mobile-3 {
    width: 320px;
    height: 290px;
    margin: 128px 5px 0 0;
  }
}

.features__subtitle {
  background: #F3F7FF;
  width: 200px;
  height: 120px;
}

.features__subtitle_text {
  width: 440px;
  height: 40px;
  display: flex;
  margin: 20px;
  font-weight: 600;
  font-size: 20px;
  line-height: 40px;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .features__subtitle_text {
    width: 160px;
    height: 80px;
    margin: 20px;
    line-height: 30px;
  }
}

.features__description {
  height: 120px;
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  box-shadow: 0px 20px 60px rgba(49, 69, 244, 0.1);
}
@media screen and (min-width: 1024px) {
  .features__description {
    height: 170px;
  }
}

.features__description_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  margin: 30px 40px 10px 40px;
}
@media screen and (min-width: 1024px) {
  .features__description_text {
    width: 240px;
    height: 90px;
    margin: 40px 40px 20px 40px;
  }
}

.use__case {
  width: 550px;
  margin: 65px 0 100px 0;
}
@media screen and (min-width: 1024px) {
  .use__case {
    width: 1160px;
    margin: 115px 0 0 0;
  }
}

.use__case_line {
  width: 80px;
  height: 2px;
  margin: 10px 0 28px 0;
  background: #1968fc;
  box-shadow: 0px 2px 0px #d1e1fe;
}
@media screen and (min-width: 1024px) {
  .use__case_line {
    margin: 10px 0 38px 0;
  }
}

.use__case_title {
  font-weight: 400;
  font-size: 30px;
  line-height: 60px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}
@media screen and (min-width: 1024px) {
  .use__case_title {
    display: none;
  }
}

.use__case_title-2 {
  display: none;
}
@media screen and (min-width: 1024px) {
  .use__case_title-2 {
    display: block;
    font-size: 30px;
    line-height: 60px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    margin: 0 0 0 40px;
  }
}

.use__case_card {
  width: 250px;
  height: 190px;
  margin-right: 20px;
  background: #ffffff;
  box-shadow: 0px 20px 60px rgba(49, 69, 244, 0.1);
  margin-bottom: 20px;
}
@media screen and (min-width: 1024px) {
  .use__case_card {
    width: 360px;
    height: 160px;
    margin: 0 20px 20px 40px;
  }
}
.use__case_card-2 {
  width: 250px;
  height: 190px;
  margin-right: 20px;
  background: #ffffff;
  box-shadow: 0px 20px 60px rgba(49, 69, 244, 0.1);
  margin-bottom: 20px;
}
@media screen and (min-width: 1024px) {
  .use__case_card-2 {
    width: 360px;
    height: 160px;
    margin: 0 20px 20px 0;
  }
}
.use__case_card-3 {
  width: 250px;
  height: 190px;
  margin-right: 20px;
  background: #ffffff;
  box-shadow: 0px 20px 60px rgba(49, 69, 244, 0.1);
  margin-bottom: 20px;
}
@media screen and (min-width: 1024px) {
  .use__case_card-3 {
    width: 360px;
    height: 160px;
    margin: 0 0 20px 0;
  }
}
.use__case_card-4 {
  width: 250px;
  height: 190px;
  margin-right: 20px;
  background: #ffffff;
  box-shadow: 0px 20px 60px rgba(49, 69, 244, 0.1);
  margin-bottom: 20px;
}
@media screen and (min-width: 1024px) {
  .use__case_card-4 {
    width: 360px;
    height: 160px;
    margin: 0 20px 0 40px;
  }
}
.use__case_card-5 {
  width: 250px;
  height: 190px;
  margin-right: 20px;
  background: #ffffff;
  box-shadow: 0px 20px 60px rgba(49, 69, 244, 0.1);
  margin-bottom: 20px;
}
@media screen and (min-width: 1024px) {
  .use__case_card-5 {
    width: 360px;
    height: 160px;
    margin: 0 20px 0 0;
  }
}
.use__case_card-6 {
  width: 250px;
  height: 190px;
  margin-right: 20px;
  background: #ffffff;
  box-shadow: 0px 20px 60px rgba(49, 69, 244, 0.1);
  margin-bottom: 20px;
}
@media screen and (min-width: 1024px) {
  .use__case_card-6 {
    width: 360px;
    height: 160px;
    margin: 0;
  }
}

.use__case_cards {
  display: flex;
  display: flex;
  flex-wrap: wrap;
}

.use__case_card-title {
  width: 210px;
  height: 40px;
  font-weight: 700;
  font-size: 20px;
  line-height: 40px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #1967fa;
  margin: 20px;
}
@media screen and (min-width: 1024px) {
  .use__case_card-title {
    width: 320px;
    height: 40px;
    margin: 20px;
  }
}

.use__case_card-description {
  width: 210px;
  height: 90px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  margin: 0 20px 20px 20px;
}
@media screen and (min-width: 1024px) {
  .use__case_card-description {
    width: 320px;
    height: 60px;
    margin: 20px;
  }
}

.build__section {
  width: 520px;
}
@media screen and (min-width: 1024px) {
  .build__section {
    margin: 120px 0;
    width: 1160px;
  }
}

.build__section_line {
  background: #1968FC;
  box-shadow: 0px 2px 0px #D1E1FE;
  width: 80px;
  height: 2px;
  margin: 0;
  margin-bottom: 38px;
}
@media screen and (min-width: 1024px) {
  .build__section_line {
    margin: 10px 0 38px 0;
  }
}

.build__block {
  display: flex;
  flex-wrap: wrap;
}

.build__section_title {
  width: 520px;
  height: 120px;
  font-weight: 400;
  font-size: 30px;
  line-height: 60px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}
@media screen and (min-width: 1024px) {
  .build__section_title {
    display: none;
  }
}

.build__section_title-2 {
  display: none;
}
@media screen and (min-width: 1024px) {
  .build__section_title-2 {
    width: 520px;
    height: 120px;
    font-weight: 400;
    font-size: 30px;
    line-height: 60px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
}

.build__section_card {
  display: flex;
  margin-bottom: 40px;
}
@media screen and (min-width: 1024px) {
  .build__section_card {
    margin: 0 40px 40px 40px;
  }
}
.build__section_card-2 {
  display: flex;
  margin-bottom: 40px;
}
@media screen and (min-width: 1024px) {
  .build__section_card-2 {
    margin: 0 0 40px 0;
  }
}
.build__section_card-3 {
  display: flex;
  margin-bottom: 40px;
}
@media screen and (min-width: 1024px) {
  .build__section_card-3 {
    margin: 0 40px 0 40px;
  }
}
.build__section_card-4 {
  display: flex;
  margin-bottom: 60px;
}
@media screen and (min-width: 1024px) {
  .build__section_card-4 {
    margin: 0 0 40px 0;
  }
}

.build__section_description {
  width: 440px;
  height: 80px;
  display: flex;
  background: #FFFFFF;
  box-shadow: 0px 20px 60px rgba(49, 69, 244, 0.1);
}
@media screen and (min-width: 1024px) {
  .build__section_description {
    width: 460px;
  }
}

.build__section_description-text {
  font-weight: 600;
  font-size: 18px;
  line-height: 40px;
  display: flex;
  align-items: center;
  color: #000000;
  width: 400px;
  height: 40px;
  margin: 20px;
}

.build__section_card-photo {
  width: 80px;
  height: 80px;
}

.whiteglove {
  width: 640px;
  background: #1968FC;
  margin: 0;
  padding: 0;
  margin-left: -60px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  .whiteglove {
    display: flex;
    flex-direction: row;
    width: 1440px;
    margin: 0;
    position: relative;
  }
}

.whiteglowe__photo {
  display: none;
}
@media screen and (min-width: 1024px) {
  .whiteglowe__photo {
    display: block;
    width: 599px;
    height: 546px;
    top: 20px;
    right: 0;
    position: absolute;
  }
}

.whiteglove__title {
  width: 520px;
  height: 120px;
  font-weight: 700;
  font-size: 30px;
  line-height: 60px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 60px 60px 10px 60px;
}
@media screen and (min-width: 1024px) {
  .whiteglove__title {
    width: 680px;
    height: 60px;
    margin: 80px 0 10px 160px;
  }
}

.whiteglove__line {
  background: #FFFFFF;
  box-shadow: 0px 2px 0px #6A9EFF;
  width: 80px;
  height: 2px;
  margin: 0 0 38px 60px;
}
@media screen and (min-width: 1024px) {
  .whiteglove__line {
    margin: 0 0 48px 120px;
  }
}

.whiteglove_description {
  width: 520px;
  height: 80px;
  margin: 0 60px 40px 60px;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}
@media screen and (min-width: 1024px) {
  .whiteglove_description {
    margin: 0 0 40px 160px;
  }
}

.whiteglove__button {
  width: 320px;
  height: 50px;
  margin: 0 260px 60px 60px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: #1968FC;
}
@media screen and (min-width: 1024px) {
  .whiteglove__button {
    margin: 0 0 80px 160px;
  }
}

.ourstory {
  width: 520px;
  margin-top: 60px;
}
@media screen and (min-width: 1024px) {
  .ourstory {
    margin: 120px 160px 120px 120px;
  }
}

.ourstory__title {
  width: 520px;
  height: 60px;
  font-weight: 400;
  font-size: 30px;
  line-height: 60px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  margin: 0 60px 10px 0;
}
@media screen and (min-width: 1024px) {
  .ourstory__title {
    margin: 0 0 0 40px;
  }
}

.ourstory__line {
  background: #1968FC;
  box-shadow: 0px 2px 0px #D1E1FE;
  width: 80px;
  height: 2px;
  margin: 0 0 38px 0;
}
@media screen and (min-width: 1024px) {
  .ourstory__line {
    margin: 10px 0 48px 0;
  }
}

.ourstory__card {
  width: 520px;
  height: 270px;
  margin-bottom: 40px;
}
@media screen and (min-width: 1024px) {
  .ourstory__card {
    width: 480px;
    margin: 0 150px 0 0;
  }
}

.ourstory__card_2 {
  width: 520px;
  height: 270px;
  margin-bottom: 40px;
}
@media screen and (min-width: 1024px) {
  .ourstory__card_2 {
    width: 480px;
    margin: 0;
  }
}

@media screen and (min-width: 1024px) {
  .outstory__block {
    display: flex;
    margin: 0 10px 0 40px;
    width: 1110px;
  }
}

.ourstory__logo {
  display: flex;
  margin-bottom: 20px;
}
@media screen and (min-width: 1024px) {
  .ourstory__logo {
    width: 480px;
    margin: 0 150px 20px 0;
  }
}

.ourstory__logo_photo {
  width: 40px;
  height: 33px;
  margin: 4px 20px 0 0;
}

.ourstory__description {
  width: 460px;
  height: 40px;
  align-items: center;
  font-weight: 600;
  font-size: 20px;
  line-height: 40px;
  color: #111111;
  margin: 0;
}
@media screen and (min-width: 1024px) {
  .ourstory__description {
    width: 420px;
  }
}

.ourstory__description_2 {
  width: 460px;
  height: 210px;
  margin: 0 0 0 60px;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
}
@media screen and (min-width: 1024px) {
  .ourstory__description_2 {
    width: 420px;
    height: 240px;
  }
}

.footer {
  display: flex;
  background: #FBFBFB;
}
@media screen and (min-width: 1024px) {
  .footer {
    width: 1440px;
    height: 130px;
  }
}

.logosollid {
  width: 50px;
  height: 50px;
  margin: 40px 0 40px 40px;
}
@media screen and (min-width: 1024px) {
  .logosollid {
    margin: auto 0 auto 160px;
  }
}

.footer__description {
  width: 200px;
  height: 50px;
  margin: 40px 50px 40px 0;
  background: rgba(25, 104, 252, 0.05);
}
@media screen and (min-width: 1024px) {
  .footer__description {
    margin: auto 70px auto 0;
  }
}

.footer__description_text {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #1968FC;
}
@media screen and (min-width: 1024px) {
  .footer__description_text {
    display: flex;
    line-height: 50px;
  }
}

.footer__navigation {
  display: none;
}
@media screen and (min-width: 1024px) {
  .footer__navigation {
    display: block;
    display: flex;
    margin: auto 50px auto 0;
  }
}

.footer__navigation_list-item {
  display: none;
}
@media screen and (min-width: 1024px) {
  .footer__navigation_list-item {
    display: block;
    width: 120px;
    height: 50px;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #000000;
  }
}

.facebook__block {
  width: 50px;
  height: 50px;
  background: rgba(216, 216, 216, 0.0001);
  display: flex;
  margin: 40px 0 40px 0;
}

.facebook {
  width: 10px;
  height: 20px;
  margin: auto;
}

.instagram__block {
  background: rgba(216, 216, 216, 0.0001);
  width: 50px;
  height: 50px;
  display: flex;
  margin: 40px 102px 40px 0;
}
@media screen and (min-width: 1024px) {
  .instagram__block {
    margin: auto 80px auto 0;
  }
}

.instagram {
  width: 20px;
  height: 20px;
  margin: auto;
}

.vincent {
  width: 55px;
  height: 60px;
  background: url(Image.png);
  filter: drop-shadow(2px 6px 12px rgba(255, 131, 51, 0.3));
  margin: 70px 40px 0 0;
}
@media screen and (min-width: 1024px) {
  .vincent {
    width: 90px;
    height: 100px;
    margin: 30px 160px 0 0;
  }
}

/*# sourceMappingURL=styles.css.map */
