.page-header {
  width: 180px;
  height: 50px;
  display: flex;
  margin: 30px 380px 0 80px;
}

.logo {
  display: flex;
}

.logo__image {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.descrtption__header {
  width: 130px;
  height: 30px;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  margin: auto 0;
  color: #1968FC;
}

.navigation__header,
.button__header {
  display: none;
}

@media screen and (min-width: 1024px) {
  .page-header {
    margin: 30px 0 150px 0;
    width: 1120px;
    height: 50px;
  }

  .logo {
    display: flex;
    width: 180px;
    margin: 0;
  }

  .descrtption__header {
    width: 100px;
  }

  .navigation__header {
    display: block;
    margin-left: auto;
    width: 540px;
    margin-right: 20px;
  }

  .navigation__header_list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .navigation__header_list-item {
    width: 120px;
    height: 50px;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
  }
  .navigation__header_list-item:last-child {
    width: 180px;
  }

  .button__header {
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0px 10px 40px rgba(25, 104, 252, 0.2);
    background: #1968FC;
    box-shadow: 0px 10px 40px rgba(25, 104, 252, 0.3);
    width: 180px;
    height: 50px;
    border: none;
  }
}
@media screen and (min-width: 1024px) {
  .page {
    width: 1440px;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
}
.page {
  width: 640x;
  overflow-x: hidden;
  margin: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, rgba(25, 104, 252, 0.0001) 0%, rgba(25, 104, 252, 0.05) 23.07%, rgba(25, 104, 252, 0.0001) 99.94%, rgba(25, 104, 252, 0.05) 100%);
}
@media screen and (min-width: 1024px) {
  .page {
    background: none;
    width: 1120px;
    margin: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
}

body {
  font-family: "Mulish";
  font-style: normal;
  width: 100%;
  color: #11223f;
  margin: 0;
}
@media screen and (min-width: 1024px) {
  body {
    background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson26/hw1/BackgroundDecor.png");
    background-repeat: no-repeat;
    margin: 0;
  }
}

.headline {
  position: relative;
}

.headline__title {
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  letter-spacing: 1px;
  width: 480px;
  height: 120px;
  margin: 20px auto;
}
@media screen and (min-width: 1024px) {
  .headline__title {
    width: 588px;
    height: 120px;
    margin: 0;
  }
}

.headline__description {
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  align-items: center;
  margin: 20px 80px 40px 80px;
}
@media screen and (min-width: 1024px) {
  .headline__description {
    margin: 0;
    margin-top: 20px;
    width: 600px;
    height: 80px;
  }
}

.headline__upload-btn {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #1968FC;
  box-shadow: 0px 10px 40px rgba(25, 104, 252, 0.3);
  text-shadow: 0px 10px 40px rgba(25, 104, 252, 0.2);
  width: 300px;
  height: 50px;
  margin: 0 260px 80px 80px;
  border: none;
}
@media screen and (min-width: 1024px) {
  .headline__upload-btn {
    margin: 40px 0 160px 0;
  }
}

.illustration__mobile {
  width: 599px;
  height: 502px;
  margin: 0 auto;
  display: flex;
}
@media screen and (min-width: 1024px) {
  .illustration__mobile {
    position: absolute;
    top: 50px;
    left: 521px;
  }
}

.visit__siteblurb {
  font-weight: 700;
  font-size: 20px;
  line-height: 40px;
  display: flex;
  background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson26/hw1/PleaseVisitDesktopSiteSectionBackground.png");
  width: 640px;
  height: 180px;
  margin-top: -62px;
  margin: auto;
}
@media screen and (min-width: 1024px) {
  .visit__siteblurb {
    display: none;
  }
}

.visit__siteblurb_text {
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 520px;
  height: 120px;
  margin: 30px 60px 30px 60px;
}

.reviews {
  display: block;
}
@media screen and (min-width: 1024px) {
  .reviews {
    display: flex;
    width: 1120px;
    height: 280px;
    margin: 0 0 120px 0;
  }
}

.review {
  background-color: #FFFFFF;
  width: 540px;
  height: 280px;
  margin: 50px auto;
}
@media screen and (min-width: 1024px) {
  .review {
    margin: 0 40px 0 0;
  }
}

.review__block {
  display: flex;
  position: relative;
}

.review__block_photo {
  width: 100px;
  height: 100px;
  margin: 40px 20px 40px 40px;
}

.review__block_text {
  margin: 60px 0;
}

.review__block_name {
  width: 280px;
  height: 30px;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  display: flex;
  align-items: center;
}

.review__block_job {
  font-weight: 600;
  font-size: 14px;
  line-height: 30px;
  display: flex;
  align-items: center;
  color: #1967FA;
  mix-blend-mode: normal;
  opacity: 0.8;
}

.review__illustration {
  position: absolute;
  width: 60px;
  height: 46px;
  top: 40px;
  left: 440px;
}

.rew2 {
  background-color: #FFFFFF;
  width: 540px;
  height: 280px;
  margin: 50px auto;
}
@media screen and (min-width: 1024px) {
  .rew2 {
    margin: 0;
  }
}

.review__block_2 {
  display: flex;
  position: relative;
}

.review__illustration_2 {
  margin-top: 40px;
  width: 60px;
  height: 46px;
}

.review__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  margin: 0 40px 40px 40px;
}

.workflow {
  width: 525px;
  height: 745px;
  margin: 70px 55px 90px 60px;
}
@media screen and (min-width: 1024px) {
  .workflow {
    width: 1165px;
    height: 415px;
    margin: 0 120px 0 0;
  }
}

.workflow__block {
  display: block;
}
@media screen and (min-width: 1024px) {
  .workflow__block {
    display: flex;
    width: 1165px;
  }
}

.workflow__title {
  margin: 0;
  font-weight: 400;
  font-size: 30px;
  line-height: 60px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}
@media screen and (min-width: 1024px) {
  .workflow__title {
    margin: 0 0 0 40px;
  }
}

.workflow__line {
  width: 80px;
  height: 2px;
  margin: 10px 500px 48px 0;
  background: #1968FC;
  box-shadow: 0px 2px 0px #D1E1FE;
}

.workflow-step {
  width: 525px;
  height: 185px;
  background: #FFFFFF;
  box-shadow: 0px 20px 60px rgba(49, 69, 244, 0.1);
}
@media screen and (min-width: 1024px) {
  .workflow-step {
    width: 320px;
    height: 220px;
    margin: 38px 5px 0 40px;
  }
  .workflow-step:last-child {
    margin: 118px 5px 5px 5px;
  }
}

.workflow-step_2 {
  width: 525px;
  height: 185px;
  background: #FFFFFF;
  box-shadow: 0px 20px 60px rgba(49, 69, 244, 0.1);
}
@media screen and (min-width: 1024px) {
  .workflow-step_2 {
    width: 320px;
    height: 220px;
    margin: 78px 5px 0 5px;
  }
}

.workflow-step__subtitle {
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  width: 400px;
  height: 20px;
  margin: 40px 0 0 40px;
}
@media screen and (min-width: 1024px) {
  .workflow-step__subtitle {
    margin: 0;
    width: 200px;
    margin: 40px 0 0 40px;
  }
}

.workflow-step__title {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #1967FA;
  margin: 0 0 0 40px;
}
@media screen and (min-width: 1024px) {
  .workflow-step__title {
    margin: 0;
    width: 200px;
    margin: 0 0 0 40px;
  }
}

.workflow-step_block {
  display: flex;
}

.workflow__icon {
  width: 40px;
  height: 36px;
  margin-top: 40px;
}
@media screen and (min-width: 1024px) {
  .workflow__icon {
    margin-top: 42px;
  }
}

.workflow__text {
  width: 400px;
  height: 60px;
  margin: 40px 0 10px 40px;
}
@media screen and (min-width: 1024px) {
  .workflow__text {
    width: 200px;
    height: 60px;
    margin: 40px 0 0 40px;
  }
}

.workflow__vertical_line {
  border-left: 2px dashed #1968FC;
  width: 40px;
  height: 40px;
  margin-left: 59px;
}
@media screen and (min-width: 1024px) {
  .workflow__vertical_line {
    border-top: 2px dashed #1968FC;
    width: 70px;
    height: 1px;
    margin: 148px 0 0 0;
  }
}

.workflow__vertical_line-2 {
  border-left: 2px dashed #1968FC;
  width: 40px;
  height: 40px;
  margin-left: 59px;
}
@media screen and (min-width: 1024px) {
  .workflow__vertical_line-2 {
    border-top: 2px dashed #1968FC;
    width: 70px;
    height: 1px;
    margin: 187px 0 0 0;
  }
}

.workflow-step__description {
  width: 440px;
  height: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  margin: 0 40px 20px 40px;
}
@media screen and (min-width: 1024px) {
  .workflow-step__description {
    margin: 20px 40px 20px 40px;
    width: 240px;
    height: 60px;
  }
}

.workflow__icon_2 {
  width: 25px;
  height: 25px;
  margin-left: 500px;
}
@media screen and (min-width: 1024px) {
  .workflow__icon_2 {
    margin-left: 300px;
  }
}

.features {
  width: 525px;
  margin: 0 60px 120px 60px;
}
@media screen and (min-width: 1024px) {
  .features {
    width: 1165px;
    margin: 115px 0 0 0;
  }
}

.features__line {
  width: 80px;
  height: 2px;
  background: #1968FC;
  box-shadow: 0px 2px 0px #D1E1FE;
  margin: 10px 0 48px 0;
}
@media screen and (min-width: 1024px) {
  .features__line {
    margin: 0 0 48px 0;
  }
}

.features__title {
  font-weight: 400;
  font-size: 30px;
  line-height: 60px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  margin: 120px 0 0 0;
}
@media screen and (min-width: 1024px) {
  .features__title {
    margin: 0 0 10px 40px;
  }
}

.feature__card {
  display: flex;
  width: 520px;
  height: 80px;
}
@media screen and (min-width: 1024px) {
  .feature__card {
    width: 320px;
    height: 120px;
  }
}

.feature__card_photo {
  width: 80px;
  height: 80px;
}
@media screen and (min-width: 1024px) {
  .feature__card_photo {
    width: 120px;
    height: 120px;
  }
}

.features__list {
  display: block;
}
@media screen and (min-width: 1024px) {
  .features__list {
    display: flex;
  }
}

.feature {
  width: 525px;
  height: 205px;
  margin-bottom: 55px;
}
@media screen and (min-width: 1024px) {
  .feature {
    width: 320px;
    height: 290px;
    margin: 48px 74px 0 40px;
  }
}

.feature_2 {
  width: 525px;
  height: 205px;
  margin-bottom: 55px;
}
@media screen and (min-width: 1024px) {
  .feature_2 {
    width: 320px;
    height: 290px;
    margin: 88px 86px 0 0;
  }
}

.feature_3 {
  width: 525px;
  height: 205px;
  margin-bottom: 55px;
}
@media screen and (min-width: 1024px) {
  .feature_3 {
    width: 320px;
    height: 290px;
    margin: 128px 5px 0 0;
  }
}

.feature__subtitle {
  width: 440px;
  height: 80px;
  background: #F3F7FF;
}
@media screen and (min-width: 1024px) {
  .feature__subtitle {
    width: 200px;
    height: 120px;
  }
}

.feature__subtitle_text {
  width: 440px;
  height: 40px;
  display: flex;
  margin: 20px;
  font-weight: 600;
  font-size: 20px;
  line-height: 40px;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .feature__subtitle_text {
    width: 160px;
    height: 80px;
    margin: 20px;
    line-height: 30px;
  }
}

.feature__description {
  height: 120px;
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  box-shadow: 0px 20px 60px rgba(49, 69, 244, 0.1);
}
@media screen and (min-width: 1024px) {
  .feature__description {
    height: 170px;
  }
}

.feature__description_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  margin: 30px 40px 10px 40px;
}
@media screen and (min-width: 1024px) {
  .feature__description_text {
    width: 240px;
    height: 90px;
    margin: 40px 40px 20px 40px;
  }
}

.users {
  width: 550px;
  margin: 65px 60px 100px 60px;
}
@media screen and (min-width: 1024px) {
  .users {
    width: 1160px;
    margin: 115px 0 0 0;
  }
}

.users__line {
  width: 80px;
  height: 2px;
  margin: 10px 0 28px 0;
  background: #1968fc;
  box-shadow: 0px 2px 0px #d1e1fe;
}
@media screen and (min-width: 1024px) {
  .users__line {
    margin: 10px 0 38px 0;
  }
}

.users__title {
  font-weight: 400;
  font-size: 30px;
  line-height: 60px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}
@media screen and (min-width: 1024px) {
  .users__title {
    display: none;
  }
}

.users__title_2 {
  display: none;
}
@media screen and (min-width: 1024px) {
  .users__title_2 {
    display: block;
    font-size: 30px;
    line-height: 60px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    margin: 0 0 0 40px;
  }
}

.user {
  width: 250px;
  height: 190px;
  margin-right: 20px;
  background: #ffffff;
  box-shadow: 0px 20px 60px rgba(49, 69, 244, 0.1);
  margin-bottom: 20px;
}
@media screen and (min-width: 1024px) {
  .user {
    width: 360px;
    height: 160px;
    margin: 0 20px 20px 40px;
  }
}
.user_2 {
  width: 250px;
  height: 190px;
  margin-right: 20px;
  background: #ffffff;
  box-shadow: 0px 20px 60px rgba(49, 69, 244, 0.1);
  margin-bottom: 20px;
}
@media screen and (min-width: 1024px) {
  .user_2 {
    width: 360px;
    height: 160px;
    margin: 0 20px 20px 0;
  }
}
.user_3 {
  width: 250px;
  height: 190px;
  margin-right: 20px;
  background: #ffffff;
  box-shadow: 0px 20px 60px rgba(49, 69, 244, 0.1);
  margin-bottom: 20px;
}
@media screen and (min-width: 1024px) {
  .user_3 {
    width: 360px;
    height: 160px;
    margin: 0 0 20px 0;
  }
}
.user_4 {
  width: 250px;
  height: 190px;
  margin-right: 20px;
  background: #ffffff;
  box-shadow: 0px 20px 60px rgba(49, 69, 244, 0.1);
  margin-bottom: 20px;
}
@media screen and (min-width: 1024px) {
  .user_4 {
    width: 360px;
    height: 160px;
    margin: 0 20px 0 40px;
  }
}
.user_5 {
  width: 250px;
  height: 190px;
  margin-right: 20px;
  background: #ffffff;
  box-shadow: 0px 20px 60px rgba(49, 69, 244, 0.1);
  margin-bottom: 20px;
}
@media screen and (min-width: 1024px) {
  .user_5 {
    width: 360px;
    height: 160px;
    margin: 0 20px 0 0;
  }
}
.user_6 {
  width: 250px;
  height: 190px;
  margin-right: 20px;
  background: #ffffff;
  box-shadow: 0px 20px 60px rgba(49, 69, 244, 0.1);
  margin-bottom: 20px;
}
@media screen and (min-width: 1024px) {
  .user_6 {
    width: 360px;
    height: 160px;
    margin: 0;
  }
}

.user__block {
  display: flex;
  display: flex;
  flex-wrap: wrap;
}

.user__titles {
  width: 210px;
  height: 40px;
  font-weight: 700;
  font-size: 20px;
  line-height: 40px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #1967fa;
  margin: 20px;
}
@media screen and (min-width: 1024px) {
  .user__titles {
    width: 320px;
    height: 40px;
    margin: 20px;
  }
}

.user__descriptions {
  width: 210px;
  height: 90px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  margin: 0 20px 20px 20px;
}
@media screen and (min-width: 1024px) {
  .user__descriptions {
    width: 320px;
    height: 60px;
    margin: 20px;
  }
}

.purposes {
  width: 520px;
  margin: 0 60px;
}
@media screen and (min-width: 1024px) {
  .purposes {
    margin: 120px 0;
    width: 1160px;
  }
}

.purposes__line {
  background: #1968FC;
  box-shadow: 0px 2px 0px #D1E1FE;
  width: 80px;
  height: 2px;
  margin: 0;
  margin-bottom: 38px;
}
@media screen and (min-width: 1024px) {
  .purposes__line {
    margin: 10px 0 38px 0;
  }
}

@media screen and (min-width: 1024px) {
  .purposes__block {
    display: flex;
    flex-wrap: wrap;
  }
}

.purposes__title {
  width: 520px;
  height: 120px;
  font-weight: 400;
  font-size: 30px;
  line-height: 60px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}
@media screen and (min-width: 1024px) {
  .purposes__title {
    display: none;
  }
}

.purposes__title_2 {
  display: none;
}
@media screen and (min-width: 1024px) {
  .purposes__title_2 {
    width: 520px;
    height: 120px;
    font-weight: 400;
    font-size: 30px;
    line-height: 60px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    margin: 0 0 10px 40px;
  }
}

.purpose {
  display: flex;
  margin-bottom: 40px;
}
@media screen and (min-width: 1024px) {
  .purpose {
    margin: 0 40px 40px 40px;
  }
}
.purpose_2 {
  display: flex;
  margin-bottom: 40px;
}
@media screen and (min-width: 1024px) {
  .purpose_2 {
    margin: 0 0 40px 0;
  }
}
.purpose_3 {
  display: flex;
  margin-bottom: 40px;
}
@media screen and (min-width: 1024px) {
  .purpose_3 {
    margin: 0 40px 0 40px;
  }
}
.purpose_4 {
  display: flex;
  margin-bottom: 60px;
}
@media screen and (min-width: 1024px) {
  .purpose_4 {
    margin: 0 0 40px 0;
  }
}

.purpose__description {
  width: 440px;
  height: 80px;
  display: flex;
  background: #FFFFFF;
  box-shadow: 0px 20px 60px rgba(49, 69, 244, 0.1);
}
@media screen and (min-width: 1024px) {
  .purpose__description {
    width: 460px;
  }
}

.purpose__description_text {
  font-weight: 600;
  font-size: 18px;
  line-height: 40px;
  display: flex;
  align-items: center;
  color: #000000;
  width: 400px;
  height: 40px;
  margin: 20px;
}

.purpose__photo {
  width: 80px;
  height: 80px;
}

.consultation {
  width: 640px;
  background: #1968FC;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  .consultation {
    display: flex;
    flex-direction: row;
    width: 1440px;
    margin: 0;
    position: relative;
  }
}

.consultation__photo {
  display: none;
}
@media screen and (min-width: 1024px) {
  .consultation__photo {
    display: block;
    width: 599px;
    height: 546px;
    top: 20px;
    right: 0;
    position: absolute;
  }
}

.consultation__title {
  width: 520px;
  height: 120px;
  font-weight: 700;
  font-size: 30px;
  line-height: 60px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 60px 60px 10px 60px;
}
@media screen and (min-width: 1024px) {
  .consultation__title {
    width: 680px;
    height: 60px;
    margin: 80px 0 10px 40px;
  }
}

.consultation__line {
  background: #FFFFFF;
  box-shadow: 0px 2px 0px #6A9EFF;
  width: 80px;
  height: 2px;
  margin: 0 0 38px 60px;
}
@media screen and (min-width: 1024px) {
  .consultation__line {
    margin: 0 0 48px 0;
  }
}

.consultation__description {
  width: 520px;
  height: 80px;
  margin: 0 60px 40px 60px;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}
@media screen and (min-width: 1024px) {
  .consultation__description {
    margin: 0 0 40px 40px;
  }
}

.consultation__button {
  width: 320px;
  height: 50px;
  margin: 0 260px 60px 60px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: #1968FC;
}
@media screen and (min-width: 1024px) {
  .consultation__button {
    margin: 0 0 80px 40px;
  }
}

.stories {
  width: 520px;
  height: 719px;
  margin: 60px 60px 0 60px;
}
@media screen and (min-width: 1024px) {
  .stories {
    width: 1160px;
    height: 420px;
    margin: 120px 0;
  }
}

.stories__title {
  width: 520px;
  height: 60px;
  font-weight: 400;
  font-size: 30px;
  line-height: 60px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  margin: 0 60px 10px 0;
}
@media screen and (min-width: 1024px) {
  .stories__title {
    margin: 0 0 0 40px;
  }
}

.stories__line {
  background: #1968FC;
  box-shadow: 0px 2px 0px #D1E1FE;
  width: 80px;
  height: 2px;
  margin: 0 0 38px 0;
}
@media screen and (min-width: 1024px) {
  .stories__line {
    margin: 10px 0 48px 0;
  }
}

.story-card {
  width: 520px;
  height: 270px;
  margin-bottom: 40px;
}
@media screen and (min-width: 1024px) {
  .story-card {
    width: 480px;
    margin: 0 150px 0 0;
  }
}

.story-card_2 {
  width: 520px;
  height: 270px;
  margin-bottom: 40px;
}
@media screen and (min-width: 1024px) {
  .story-card_2 {
    width: 480px;
    margin: 0;
  }
}

@media screen and (min-width: 1024px) {
  .stories__block {
    display: flex;
    margin: 0 10px 0 40px;
    width: 1110px;
  }
}

.story__logo {
  display: flex;
  margin-bottom: 20px;
}
@media screen and (min-width: 1024px) {
  .story__logo {
    width: 480px;
    margin: 0 150px 20px 0;
  }
}

.story__logo_photo {
  width: 40px;
  height: 33px;
  margin: 4px 20px 0 0;
}

.story__description {
  width: 460px;
  height: 40px;
  align-items: center;
  font-weight: 600;
  font-size: 20px;
  line-height: 40px;
  color: #111111;
  margin: 0;
}
@media screen and (min-width: 1024px) {
  .story__description {
    width: 420px;
  }
}

.story__description_2 {
  width: 460px;
  height: 210px;
  margin: 0 0 0 60px;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
}
@media screen and (min-width: 1024px) {
  .story__description_2 {
    width: 420px;
    height: 240px;
  }
}

.page-footer {
  display: flex;
  width: 640px;
  height: 130px;
  margin: 0 0 90px 0;
  background: #FBFBFB;
}
@media screen and (min-width: 1024px) {
  .page-footer {
    width: 1440px;
    height: 130px;
  }
}

.logosollid {
  width: 50px;
  height: 50px;
  margin: 0;
}
@media screen and (min-width: 1024px) {
  .logosollid {
    margin: auto 0;
  }
}

.footer-logo {
  display: flex;
  margin: auto;
}
@media screen and (min-width: 1024px) {
  .footer-logo {
    display: flex;
    width: 300px;
    height: 50px;
    margin: auto 70px auto 0;
  }
}

.footer__description {
  width: 200px;
  display: flex;
  height: 50px;
  margin: 0;
  background: rgba(25, 104, 252, 0.05);
}
@media screen and (min-width: 1024px) {
  .footer__description {
    width: 200px;
    height: 50px;
    display: block;
    margin: auto 0;
  }
}

.footer__description_text {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  margin: 0 auto;
  margin: auto;
  color: #1968FC;
}
@media screen and (min-width: 1024px) {
  .footer__description_text {
    display: flex;
    justify-content: center;
    line-height: 50px;
  }
}

.footer__navigation {
  display: none;
}
@media screen and (min-width: 1024px) {
  .footer__navigation {
    display: block;
    display: flex;
    margin: auto 50px auto 0;
  }
}

.footer__navigation_list-item {
  display: none;
}
@media screen and (min-width: 1024px) {
  .footer__navigation_list-item {
    display: block;
    width: 120px;
    height: 50px;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #000000;
  }
}

.facebook__block {
  width: 50px;
  height: 50px;
  background: rgba(216, 216, 216, 0.0001);
  display: flex;
  margin: 40px 0 40px 0;
}

.facebook {
  width: 10px;
  height: 20px;
  margin: auto;
}

.instagram__block {
  background: rgba(216, 216, 216, 0.0001);
  width: 50px;
  height: 50px;
  display: flex;
  margin: 40px 102px 40px 0;
}
@media screen and (min-width: 1024px) {
  .instagram__block {
    margin: auto 80px auto 0;
  }
}

.instagram {
  width: 20px;
  height: 20px;
  margin: auto;
}

.vincent {
  width: 55px;
  height: 60px;
  background: url(Image.png);
  filter: drop-shadow(2px 6px 12px rgba(255, 131, 51, 0.3));
  margin: 70px 40px 0 0;
}
@media screen and (min-width: 1024px) {
  .vincent {
    width: 90px;
    height: 100px;
    margin: 30px 160px 0 0;
  }
}

/*# sourceMappingURL=styles.css.map */
