$lg: 1024px;

@mixin for-large-up {
    @media screen and (min-width: $lg) {
        @content;
    }
}

@media screen and (min-width: 1024px) {
  .page {
    width: 1440px;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
}
