.page {
  width: 640x;
  overflow-x: hidden;
  margin: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    180deg,
    rgba(25, 104, 252, 0.0001) 0%,
    rgba(25, 104, 252, 0.05) 23.07%,
    rgba(25, 104, 252, 0.0001) 99.94%,
    rgba(25, 104, 252, 0.05) 100%
  );
  @include for-large-up {
    background: none;
    width: 1120px;
    margin: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
}
body {
  font-family: 'Mulish';
  font-style: normal;
  width: 100%;
  color: #11223f;
  margin: 0;

  @include for-large-up {
    background-image: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson26/hw1/BackgroundDecor.png');
    background-repeat: no-repeat;
    margin: 0;
  }
}
