.page {
  width: 100%;
  overflow-x: hidden;
  background: linear-gradient(180deg, rgba(25, 104, 252, 0.0001) 0%, rgba(25, 104, 252, 0.05) 23.07%, rgba(25, 104, 252, 0.0001) 99.94%, rgba(25, 104, 252, 0.05) 100%);
  @include for-large-up {
      background: none;
  }
}
body {
  font-family: 'Mulish';
  font-style: normal;
  width: 640px;
  color: #11223f;
 
  @include for-large-up {
      width: 1440px;
      margin-left: 160px;
      margin-right: 160px;
      background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson26/hw1/BackgroundDecor.png");
      background-repeat: no-repeat;
      background-position: right 487px top 23px;
  }
}
