.features {
    width: 525px;
    margin: 0 55px 120px 0;
    @include for-large-up {
        width: 1165px;
        margin: 115px 0 0 0;
    }
}
.features__line {
    width: 80px;
    height: 2px;
    background: #1968FC;
    box-shadow: 0px 2px 0px #D1E1FE;
    margin: 10px 0 48px 0;
    @include for-large-up {
        margin: 0 0 48px 0;
    }
}
.features__title {
    font-weight: 400;
    font-size: 30px;
    line-height: 60px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    margin: 120px 0 0 0;
    @include for-large-up {
        margin: 0 0 10px 40px;
    }
}
.card__mobile {
    display: flex;
    width: 520px;
    height: 80px;
}
.card__mobile_photo {
    width: 80px;
    height: 80px;
    @include for-large-up {
        width: 120px;
        height: 120px;
    }
}
.card__block {
    display: block;
    @include for-large-up {
    display: flex;
    }
}
.feature__card_mobile {
    width: 525px;
    height: 205px;
    margin-bottom: 55px;
    @include for-large-up {
        width: 320px;
        height: 290px;
        margin: 48px 74px 0 40px;
    }
}
.feature__card_mobile-2 {
    width: 525px;
    height: 205px;
    margin-bottom: 55px;
    @include for-large-up {
        width: 320px;
        height: 290px;
        margin: 88px 86px 0 0;
    }
}
.feature__card_mobile-3 {
    width: 525px;
    height: 205px;
    margin-bottom: 55px;
    @include for-large-up {
        width: 320px;
        height: 290px;
        margin: 128px 5px 0 0;
    }
}
.features__subtitle {
    background: #F3F7FF;
    width: 200px;
    height: 120px;
}
.features__subtitle_text {
    width: 440px;
    height: 40px;
    display: flex;
    margin: 20px;
    font-weight: 600;
    font-size: 20px;
    line-height: 40px;
    display: flex;
    align-items: center;
    @include for-large-up {
        width: 160px;
        height: 80px;
        margin: 20px;
        line-height: 30px;
    }
}
.features__description {
    height: 120px;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 20px 60px rgba(49, 69, 244, 0.1);
    @include for-large-up {
        height: 170px;
    }
}
.features__description_text {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    margin: 30px 40px 10px 40px;
    @include for-large-up {
        width: 240px;
        height: 90px;
        margin: 40px 40px 20px 40px;
    }
}
