.page-footer {
  display: flex;
  width: 640px;
  height: 130px;
  margin: 60px 0 90px 0;
  background: #fbfbfb;

  @include for-large-up {
    width: 1440px;
    height: 130px;
  }
}
.logosollid {
  width: 50px;
  height: 50px;
  margin: 0;

  @include for-large-up {
    margin: auto 0;
  }
}
.footer-logo {
  display: flex;
  margin: auto;

  @include for-large-up {
    display: flex;
    width: 300px;
    height: 50px;
    margin: auto 70px auto 0;
  }
}
.footer__description {
  width: 200px;
  display: flex;
  height: 50px;
  margin: 0;
  background: rgba(25, 104, 252, 0.05);

  @include for-large-up {
    width: 200px;
    height: 50px;
    display: block;
    margin: auto 0;
  }
}
.footer__description_text {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  margin: 0 auto;
  margin: auto;
  color: #1968fc;

  @include for-large-up {
    display: flex;
    justify-content: center;
    line-height: 50px;
  }
}
.footer__navigation {
  display: none;
  @include for-large-up {
    display: block;
    display: flex;
    margin: auto 50px auto 0;
  }

  &_list-item {
    display: none;

    @include for-large-up {
      display: block;
      width: 120px;
      height: 50px;
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      color: #000000;
    }
  }
}
.facebook__block {
  width: 50px;
  height: 50px;
  background: rgba(216, 216, 216, 0.0001);
  display: flex;
  margin: 40px 0 40px 0;
}
.facebook {
  width: 10px;
  height: 20px;
  margin: auto;

  &__block {
    width: 50px;
    height: 50px;
    background: rgba(216, 216, 216, 0.0001);
    display: flex;
    margin: 40px 0 40px 0;
  }
}

.instagram {
  width: 20px;
  height: 20px;
  margin: auto;

  &__block {
    background: rgba(216, 216, 216, 0.0001);
    width: 50px;
    height: 50px;
    display: flex;
    margin: 40px 102px 40px 0;

    @include for-large-up {
      margin: auto 80px auto 0;
    }
  }
}
.vincent {
  width: 55px;
  height: 60px;
  background: url(Image.png);
  filter: drop-shadow(2px 6px 12px rgba(255, 131, 51, 0.3));
  margin: 70px 40px 0 0;

  @include for-large-up {
    width: 90px;
    height: 100px;
    margin: 30px 160px 0 0;
  }
}
