.page-header {
    width: 180px;
    height: 50px;
    display: flex;
    margin: 40px 380px 0 80px;
}
.logo__image {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
.descrtption__header {
    width: 130px;
    height: 30px;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    margin: auto 0;
    color: #1968FC;
}
.navigation__header,
.button__header {
    display: none;
}
 @media screen and (min-width:1024px) {
    .page-header {
        margin: 30px 0 150px 0;
        width: 1120px;
        height: 50px;
    }
    .logo {
        display: flex;
        width: 160px;
        margin: 0;
    }
    .descrtption__header {
        width: 100px;
    }
    .navigation__header {
        display: block;
        margin-left: auto;
        width: 540px;
        margin-right: 20px;
    }
    .navigation__header_list {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    .navigation__header_list-item {
        width: 120px;
        height: 50px;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #000000;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #000000;

        &:last-child {
            width: 180px;
        }
    }
    .button__header {
        display: block;
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        display: flex;
        align-items: center;
        justify-content:center; 
        text-transform: uppercase;
        color: #FFFFFF;
        text-shadow: 0px 10px 40px rgba(25, 104, 252, 0.2);
        background: #1968FC;
        box-shadow: 0px 10px 40px rgba(25, 104, 252, 0.3);
        width: 180px;
        height: 50px;
        border: none;
    }
 }