.ourstory {
    width: 520px;
    margin-top: 60px;
}
.ourstory__title {
    width: 520px;
    height: 60px;
    font-weight: 400;
    font-size: 30px;
    line-height: 60px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    margin: 0 60px 10px 0;
}
.ourstory__line {
    background: #1968FC;
    box-shadow: 0px 2px 0px #D1E1FE;
    width: 80px;
    height: 2px;
    margin: 0 0 38px 0;
}
.ourstory__card {
    width: 520px;
    height: 270px;
    margin-bottom: 40px;
}
.outstory__block {
    display: flex;
}
.ourstory__logo {
    display: flex;
    margin-bottom: 20px;
}
.ourstory__logo_photo {
    width: 40px;
    height: 33px;
    margin: 4px 20px 0 0;
}
.ourstory__description {
    width: 460px;
    height: 40px;
    align-items: center;
    font-weight: 600;
    font-size: 20px;
    line-height: 40px;
    color: #111111;
    margin: 0;
}
.ourstory__description_2 {
    width: 460px;
    height: 210px;
    margin: 0 0 0 60px;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #000000;
}









