.stories {
    width: 520px;
    height: 719px;
    margin: 60px 60px 0 60px;
    @include for-large-up {
        width: 1160px;
        height: 420px;
        margin: 120px 0;
    }
}
.stories__title {
    width: 520px;
    height: 60px;
    font-weight: 400;
    font-size: 30px;
    line-height: 60px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    margin: 0 60px 10px 0;
    @include for-large-up {
        margin: 0 0 0 40px;
    }
}
.stories__line {
    background: #1968FC;
    box-shadow: 0px 2px 0px #D1E1FE;
    width: 80px;
    height: 2px;
    margin: 0 0 38px 0;
    @include for-large-up {
        margin: 10px 0 48px 0;
    }
}
.story-card {
    width: 520px;
    height: 270px;
    margin-bottom: 40px;
    @include for-large-up {
        width: 480px;
        margin: 0 150px 0 0;
    }
}
.story-card_2 {
    width: 520px;
    height: 270px;
    margin-bottom: 40px;
    @include for-large-up {
        width: 480px;
        margin: 0;
    }
}
.stories__block {
    @include for-large-up {
        display: flex;
        margin: 0 10px 0 40px;
        width: 1110px;  
    }
}
.story__logo {
    display: flex;
    margin-bottom: 20px;
    @include for-large-up {
        width: 480px;
        margin: 0 150px 20px 0;
    }
}
.story__logo_photo {
    width: 40px;
    height: 33px;
    margin: 4px 20px 0 0;
}
.story__description {
    width: 460px;
    height: 40px;
    align-items: center;
    font-weight: 600;
    font-size: 20px;
    line-height: 40px;
    color: #111111;
    margin: 0;
    @include for-large-up {
        width: 420px;
    }
}
.story__description_2 {
    width: 460px;
    height: 210px;
    margin: 0 0 0 60px;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #000000;
    @include for-large-up {
        width: 420px;
        height: 240px;
    }
}









