.whiteglove {
    width: 640px;
    background: #1968FC;
    margin: 0;
    padding: 0;
    margin-left: -60px;
    display: flex;
    flex-direction: column;
    @include for-large-up {
        display: flex;
        flex-direction:row;
        width: 1440px;
        margin: 0;
        position: relative;
    }
}
.whiteglowe__photo {
    display: none;
    @include for-large-up {
        display: block;
        width: 599px;
        height: 546px;
        top: 20px;
        right: 0;
        position: absolute;
    }
}
.whiteglove__title {
    width: 520px;
    height: 120px;
    font-weight: 700;
    font-size: 30px;
    line-height: 60px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 60px 60px 10px 60px;
    @include for-large-up {
        width: 680px;
        height: 60px;
        margin: 80px 0 10px 160px;
    }
}
.whiteglove__line {
    background: #FFFFFF;
    box-shadow: 0px 2px 0px #6A9EFF;
    width: 80px;
    height: 2px;
    margin: 0 0 38px 60px;
    @include for-large-up {
        margin: 0 0 48px 120px;
    }
}
.whiteglove_description {
    width: 520px;
    height: 80px;
    margin: 0 60px 40px 60px;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    @include for-large-up {
        margin:  0 0 40px 160px;
    }
}
.whiteglove__button {
    width: 320px;
    height: 50px;
    margin: 0 260px 60px 60px;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: #1968FC;
    @include for-large-up {
        margin: 0 0 80px 160px;
    }
}

